<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuejs</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="todoApp">
        <h3>{{message}}</h3>
        <form name="todo-form" method="post" action="" v-on:submit.prevent="addTask">
            <input name="add-todo" v-model="addTodoInput" type="text" v-bind:class="{error: hasError}" />
            <button type="submit">Add</button>
        </form>

        <div class="todo-lists" v-if="lists.length">
            <h3>My Todo Tasks</h3>
            <ul>
                <li v-for="(list, index) in filterLists" :key="list.id">
                    <input type="checkbox" v-bind:id="'todo-' + index" v-on:change="completeTask($event, list)" v-bind:checked="list.isComplete" />
                    <span class="title" contenteditable="true" v-on:keydown.enter="updateTask($event, list)" v-on:blur="updateTask($event, list)" v-bind:class="{completed: list.isComplete}">{{list.title}}</span>
                    <span class="remove" v-on:click="removeTask(list)">x</span></li>
            </ul>
        </div>
    </div>
    <script>
        var todoApp = new Vue({
            el: '#todoApp',
            data: {
                message: 'Welcome to Todo App',
                addTodoInput: '',
                lists: [],
                hasError: false
            },
            computed: {
                filterLists: function() {
                    return _.orderBy(this.lists, ['isComplete', false])
                }
            },
            methods: {
                addTask: function(e) {
                    //e.preventDefault();

                    if (!this.addTodoInput) {
                        this.hasError = true;
                        return;
                    }

                    this.hasError = false;
                    this.lists.push({
                        id: this.lists.length + 1,
                        title: this.addTodoInput,
                        isComplete: false
                    });

                    this.addTodoInput = '';
                },
                removeTask: function(list) {
                    var index = _.findIndex(this.lists, list);
                    this.lists.splice(index, 1);
                },
                updateTask: function(e, list) {
                    e.preventDefault();
                    list.title = e.target.innerText;
                    e.target.blur();
                },
                completeTask: function(e, list) {
                    list.isComplete = !list.isComplete;
                }

            }
        })
    </script>
</body>

</html>